<h1>Articulos#new</h1>
<p>Find me in app/views/articulos/new.html.erb</p>

<%= form_for @articulo do |f|%>


    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %><br>
    <%= f.label :conteido %><br>
    <%= f.text_field :conteido %><br>
    <%= f.button "Crear Articulo" %>
<% end %>